*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#f4f6f8;
}

header{
background:#1565c0;
color:white;
padding:40px;
text-align:center;
}

.container{
max-width:1200px;
margin:auto;
padding:20px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 3px 10px rgba(0,0,0,.1);
}

h2{
margin-bottom:15px;
color:#1565c0;
}

input, select{
width:100%;
padding:12px;
margin:10px 0;
border:1px solid #ccc;
border-radius:8px;
}

button{
background:#1565c0;
color:white;
border:none;
padding:12px;
width:100%;
cursor:pointer;
border-radius:8px;
}

button:hover{
background:#0d47a1;
}

table{
width:100%;
border-collapse:collapse;
margin-top:15px;
}

th{
background:#1565c0;
color:white;
}

td,th{
padding:10px;
border:1px solid #ddd;
}

.bom{
background:#e8f5e9;
}

.ruim{
background:#ffebee;
}

#grafico{
margin-top:15px;
}

.grafico{
display:flex;
height:50px;
border-radius:10px;
overflow:hidden;
margin-bottom:15px;
}

.necessidades{
width:50%;
background:#4caf50;
display:flex;
align-items:center;
justify-content:center;
color:white;
font-weight:bold;
}

.investimentos{
width:30%;
background:#2196f3;
display:flex;
align-items:center;
justify-content:center;
color:white;
font-weight:bold;
}

.lazer{
width:20%;
background:#ff9800;
display:flex;
align-items:center;
justify-content:center;
color:white;
font-weight:bold;
}

#resultado,
#analise{
margin-top:15px;
font-weight:bold;
line-height:1.6;
}
